In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Setup
base = '../../../'

###################################
## Collapsed Parent Company File ##
###################################
# Attach to the HDF5 file where we will store the data rolled-up to the parent level
collapse_filename = base + 'Data/ReferenceUSA/parent_collapse_2015.h5'
# Setup the connection to the parent file
store = pd.HDFStore(collapse_filename)

main = store.select('main')
main=main.rename(columns = {'Company':'name'})
main=main.rename(columns = {'State':'state'})

In [3]:
main = main[main.archive_version_year == 2015]

In [65]:
#################
## Stripe Data ##
#################
raw_data = base + 'Data/Raw/MergeData/merchant_sample_token_name_zip_state.csv'
# Read in the ReferenceUSA data from CSV
stripe = pd.read_csv(raw_data)
stripe=stripe.rename(columns = {'legal_entity__address_state':'state'})
stripe=stripe.rename(columns = {'legal_entity__address_zip':'zip'})

In [66]:
firm_data_name = base + 'Data/Raw/MergeData/merchant_sample.csv'
firm_data = pd.read_csv(firm_data_name)
firm_data_start = firm_data[['token', 'unified_funnel__activation_date']]
firm_data_start=firm_data_start.rename(columns = {'unified_funnel__activation_date':'start'})
firm_data_start.start = firm_data_start.start.str[0:4]

In [67]:
stripe = stripe.merge(firm_data_start, how='left', on='token')

In [4]:
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

In [5]:
def clean_names(data):
    data['name'] = data.name.str.lower()
    data['name'] = data.name.str.strip()
    data['name'] = data.name.str.replace(' the ', ' ')
    data['name'] = data.name.str.replace('^the ', '')
    data['name'] = data.name.str.replace('^www\.', '')
    data['name'] = data.name.str.replace('\.com$', '')
    data['name'] = data.name.str.replace('\.co$', '')
    data['name'] = data.name.str.replace('\.net$', '')
    data['name'] = data.name.str.replace('&', 'and')
    data['name'] = data.name.str.replace("[/,_@\-\'\.\|]", '')
    data['name'] = data.name.str.replace(' co inc$', ' company incorporated')
    data['name'] = data.name.str.replace(' co. inc.$', ' company incorporated')
    data['name'] = data.name.str.replace(' co. inc. ', ' company incorporated ')
    data['name'] = data.name.str.replace(' co. inc. ', ' company incorporated ')
    data['name'] = data.name.str.replace(' co$', ' company')
    data['name'] = data.name.str.replace(' co ', ' company ')
    data['name'] = data.name.str.replace(' corp$', ' corporation')
    data['name'] = data.name.str.replace(' corp ', ' corporation ')
    data['name'] = data.name.str.replace(' inc$', ' incorporated')
    data['name'] = data.name.str.replace(' inc ', ' incorporated ')
    data['name'] = data.name.str.replace(' mfg$', ' manufacturing')
    data['name'] = data.name.str.replace(' mfg ', ' manufacturing ')
    data['name'] = data.name.str.replace(' llc$', ' limited liability company')
    data['name'] = data.name.str.replace(' llc ', ' limited liability company ')
    data['name'] = data.name.str.replace(' llp$', ' limited liability partnership')
    data['name'] = data.name.str.replace(' llp ', ' limited liability partnership ')
    data['name'] = data.name.str.replace(' fcu$', ' federal credit union')
    data['name'] = data.name.str.replace(' fcu ', ' federal credit union ')
    data['name'] = data.name.str.replace(' ltd$', ' limited')
    data['name'] = data.name.str.replace(' ltd ', ' limited ')
    data['name'] = data.name.str.replace(' svc$', ' services')
    data['name'] = data.name.str.replace(' svc ', ' services ')
    data['name'] = data.name.str.replace(' nfp$', ' not for profit')
    data['name'] = data.name.str.replace(' nfp ', ' not for profit ')
    data['name'] = data.name.str.replace(' associates$', ' associate')
    data['name'] = data.name.str.replace(' univ$', ' university')
    data['name'] = data.name.str.replace(' univ ', ' university ')
    data['name'] = data.name.str.replace(' dept$', ' department')
    data['name'] = data.name.str.replace(' dept ', ' department ')
    data['name'] = data.name.str.replace(' ctr$', ' center')
    data['name'] = data.name.str.replace(' ctr ', ' center ')
    data['name'] = data.name.str.replace(' ', '')
    return data

In [ ]:
main_clean = clean_names(main.loc[:, ['name', 'State']])

In [7]:
clean_main = clean_names(main)

In [131]:
MA_main = clean_main[clean_main.state == 'MA']

In [69]:
clean_data = clean_names(stripe)

In [165]:
combined = clean_main.merge(clean_data, how='outer', left_on=['name_2', 'state'], right_on=['name', 'state'], indicator = True)

In [166]:
combined._merge.value_counts()

left_only     9823841
right_only      13239
both             1117
Name: _merge, dtype: int64

In [153]:
combined[(combined._merge == 'right_only') & (combined.start == '2015') & (combined.state == 'MN')]['name']
a = 1

In [145]:
combined_inc = combined[(combined.name.str.contains("incorporated") == True)]

In [170]:
combined[(combined['name_2'].str.contains("america")==True) & (combined['name_2'].str.contains("drape")==True) ]

,name_x,state,archive_version_year,name_2,token,name_y,zip,start,_merge
181119,drapemastersofamerica,NY,2015.0,drapemastersofamerica,NaN,NaN,NaN,NaN,left_only
196825,americandraperyandinteriors,NY,2015.0,americandraperyandinteriors,NaN,NaN,NaN,NaN,left_only
723979,americandraperyandcarpet,WA,2015.0,americandraperyandcarpet,NaN,NaN,NaN,NaN,left_only
922027,americandraperysystems,MN,2015.0,americandraperysystems,NaN,NaN,NaN,NaN,left_only
1512564,drapemasterscleaningamerica,NJ,2015.0,drapemasterscleaningamerica,NaN,NaN,NaN,NaN,left_only
1821640,americanblindsanddraperies,CA,2015.0,americanblindsanddraperies,NaN,NaN,NaN,NaN,left_only
2109133,acmedrapemasterofamerica,NJ,2015.0,acmedrapemasterofamerica,NaN,NaN,NaN,NaN,left_only
2330437,americancustomdrapery,FL,2015.0,americancustomdrapery,NaN,NaN,NaN,NaN,left_only
3227663,americandraperycleaners,IL,2015.0,americandraperycleaners,NaN,NaN,NaN,NaN,left_only
3314935,drapemastersofamericaincorporated,NY,2015.0,drapemastersofamericaincorporated,NaN,NaN,NaN,NaN,left_only
3589080,americandraperyinstallation,NV,2015.0,americandraperyinstallation,NaN,NaN,NaN,NaN,left_only
4500470,americandrapemasters,IL,2015.0,americandrapemasters,NaN,NaN,NaN,NaN,left_only
4504848,americandraperysystmfurneys,NY,2015.0,americandraperysystmfurneys,NaN,NaN,NaN,NaN,left_only
5388963,americandraperiesandblinds,NJ,2015.0,americandraperiesandblinds,NaN,NaN,NaN,NaN,left_only
5577501,americandraperyblind,WA,2015.0,americandraperyblind,NaN,NaN,NaN,NaN,left_only
6360187,americandraperyanddesign,WY,2015.0,americandraperyanddesign,NaN,NaN,NaN,NaN,left_only
6748614,northamericaflooringdrapery,CA,2015.0,northamericaflooringdrapery,NaN,NaN,NaN,NaN,left_only
7050323,americasonsitedrapery,FL,2015.0,americasonsitedrapery,NaN,NaN,NaN,NaN,left_only
9145475,aallamericandraperies,NV,2015.0,aallamericandraperies,NaN,NaN,NaN,NaN,left_only
9230436,americandrapery,CA,2015.0,americandrapery,NaN,NaN,NaN,NaN,left_only

In [163]:
clean_main['name_2'] = clean_main.name.str.replace(' incorporated', '')

In [160]:
len(clean_main.name.unique())

8424669

In [164]:
len(clean_main.name_2.unique())

8424669

In [ ]:
# Replace technology /technologies
# incorporated seems to be a problem for the match (count 2 now)
# Sub string match for side by side
# Match cehcking distance photgraphy photograhy

# Drop incorporateds if things stay unique